{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static "index.css" %}">
{% endblock %}



{% block body %}
<h1 class="container-fluid display-4"><span >Reducing</span> your efforts to find a room, perfect for your <span>"Hostel Days Memories"..</span></h1>
<div class="flex display-6">WHAT TO LOOK FOR, WHEN SEARCHING FOR HOSTEL?
<ul>
    <li><img src="static/icons/fan.png"</li>
    

</ul>
</div>


{% endblock body %}

{% block title %}Home{% endblock title %}